In [1]:
students = [
    {
        "name": "Ahmed",
        "grades": (95, 88, 92),
        "subjects": ["Math", "Science", "English"],
        "attendance": {"Math": 20, "Science": 18, "English": 19}
    },
    {
        "name": "Mona",
        "grades": (78, 85, 90),
        "subjects": ["Math", "English", "History"],
        "attendance": {"Math": 19, "English": 20, "History": 18}
    },
    {
        "name": "Ali",
        "grades": (88, 92, 80),
        "subjects": ["Science", "History", "Math"],
        "attendance": {"Science": 20, "History": 19, "Math": 20}
    }
]

In [111]:
all_subjects = set()
subject_count = {}
max_attendance_avg = 0
most_regular_student = ""


for student in students :
  name = student['name'].title()
  grades = student["grades"]
  subjects = student["subjects"]

  highest_grade = max(grades)
  lowest_grade = min(grades)
  Average_grade = sum(grades)/len(grades)
  print(f"\t{name}:\n Highest grade is ({highest_grade})\n Lowset grade is ({lowest_grade})\n Average is ({Average_grade:0.2f})")
  avg_attendance = sum(student['attendance'].values()) / len(student['attendance'])
  if avg_attendance > max_attendance_avg:
      max_attendance_avg = avg_attendance
      most_regular_student = student['name']
  for s in subjects :
    all_subjects.add(s)
    if s not in subject_count:
      subject_count[s] = 1
    else :
      subject_count[s] += 1


print(70 * "=")
print(f"All subjects in school: {all_subjects}")
print(70 * "=")
for i, j in subject_count.items():
  print(f"{i} : {j} Students")

print(70 * "=")
for attend in students :
  name1 = attend['name'].title()
  attendance = attend["attendance"]
  print(f"    {name1}")
  for i , j  in attendance.items():
    attendance_percentage = (j/20) * 100

    print(f"{i} {attendance_percentage:0.0f}%" )

print(70 * "=")
print(f"Most regular student: {most_regular_student}")

	Ahmed:
 Highest grade is (95)
 Lowset grade is (88)
 Average is (91.67)
	Mona:
 Highest grade is (90)
 Lowset grade is (78)
 Average is (84.33)
	Ali:
 Highest grade is (92)
 Lowset grade is (80)
 Average is (86.67)
======================================================================
All subjects in school: {'History', 'English', 'Science', 'Math'}
======================================================================
Math : 3 Students
Science : 2 Students
English : 2 Students
History : 2 Students
======================================================================
    Ahmed
Math 100%
Science 90%
English 95%
    Mona
Math 95%
English 100%
History 90%
    Ali
Science 100%
History 95%
Math 100%
======================================================================
Most regular student: Ali

In [119]:
student_averages = {}
for student in students:
    name = student['name']
    grades = student['grades']
    average = sum(grades) / len(grades)
    student_averages[name] = average

student_averages_list = []
for name, avg in student_averages.items():
    student_averages_list.append((name, avg))


for i in range(len(student_averages_list)):
    for j in range(i+1, len(student_averages_list)):
        if student_averages_list[j][1] > student_averages_list[i][1]:
            student_averages_list[i], student_averages_list[j] = student_averages_list[j], student_averages_list[i]

print("Ranking by average grade:")
rank = 1
for name, avg in student_averages_list:
    print(f"{rank}. {name} - {avg:0.2f}")
    rank += 1

Ranking by average grade:
1. Ahmed - 91.67
2. Ali - 86.67
3. Mona - 84.33