In [ ]:
# String Formatting
#______________________________________________________________
name = "Ahmed"
age =22
print(f"my name is {name} and my age is {age}")
print('my name is {} and my age is {}'.format(name,age))

my name is Ahmed and my age is 22
my name is Ahmed and my age is 22

In [ ]:
# String Formatting
#______________________________________________________________
text = "   data analysis with python   "

print(text.strip().title())

Data Analysis With Python

In [ ]:
# String Formatting
#______________________________________________________________
course = "Data Analysis with Python"
platform = "Coursera"
hours = 40
print(f"I finished {course} on {platform} in {hours} hours")

I finished Data Analysis with Python on Coursera in 40 hours

In [ ]:
# String Formatting
# Operators
#______________________________________________________________
price = 250
discount = 15
discount_money= price * (discount/100)
last_price = price - discount_money
print(f"The final price is {last_price:.2f} EGP")

The final price is 212.50 EGP

In [ ]:
# String Formatting
# Operators
#______________________________________________________________
name = "  ahmed mohamed  "
course = "data analysis with python"
score = 87.4567
status = "passed"

namelast= name.strip().title()
courselast =course.title()
statuslast =status.upper()

print(f"Student Name : {namelast}\nCourse : {courselast}\nFinal Score : {score:.2f}%\nStatus : {statuslast}")

Student Name : Ahmed Mohamed
Course : Data Analysis With Python
Final Score : 87.46%
Status : PASSED

In [ ]:
# String Formatting
# Operators
#______________________________________________________________
a = 15
b = 4
Summ = a+b
Difference =a- b
Product= a* b
Integer_Division = a // b
Remainder =a% b
Power= a**b
print(f"Sum : {Summ}")
print(f"Difference : {Difference}")
print(f"Product : {Product}")
print(f"Integer Division : {Integer_Division}")
print(f"Remainder : {Remainder}")
print(f"Power : {Power}")

Sum : 19
Difference : 11
Product : 60
Integer Division : 3
Remainder : 3
Power : 50625

In [ ]:
# CONDITIONS
#______________________________________________________________
marks = 90
if marks>=90 :
  print("Grade : A")
elif marks>=75 :
  print("Grade : B")
elif marks>=60 :
  print("Grade : C")
else :
  print("Grade : F")

Grade : A

In [ ]:
# CONDITIONS
#______________________________________________________________
num = 7
iseven = True
if num%2== 0 :
  iseven = True
else :
  iseven = False
print(iseven)

False

In [ ]:
# CONDITIONS
#______________________________________________________________
age = 16
day = "Wednesday"
price =50
if age < 12 :
  price = 50
elif age >= 12 and age <= 17 :
  price = 75
elif age >= 18 and age <= 59 :
  price = 100
elif age >=60 :
  price = 70
Original_Price = price
if day == "Wednesday"  :
  Discount_price = price * 0.8
else :
  Discount_price = price

print(f"Orginal Price : {Original_Price}")
print(f"Discount Price : {Discount_price:0.1f}")

Orginal Price : 75
Discount Price : 60.0

In [ ]:
# Mini project (Student Report Generator)
# Contain   #1 CONDITIONS   #2 STRING FORMATTING  3# OPERATORS
#______________________________________________________________


# بيانات الطالب الأول
name1 = "  ahmed mohamed  "
course1 = "data analysis with python"
score1 = 87.4567

# بيانات الطالب الثاني
name2 = "sara ali"
course2 = "python for beginners"
score2 = 92.3

# بيانات الطالب الثالث
name3 = "mohamed samir"
course3 = "data analysis with python"
score3 = 58.9

# ----------- Student 1 -----------
name_cleaned = name1.strip().title()
course_cleaned = course1.title().replace("With", "with")
score_cleaned = f"{score1:.2f}"

if score1 >= 90:
    grade = "A"
elif score1 >= 75:
    grade = "B"
elif score1 >= 60:
    grade = "C"
else:
    grade = "F"

print(f"Student Name: {name_cleaned}")
print(f"Course: {course_cleaned}")
print(f"Final Score: {score_cleaned}%")
print(f"Grade: {grade}")
print("-" * 30)

# ----------- Student 2 -----------
name_cleaned = name2.strip().title()
course_cleaned = course2.title().replace("With", "with")
score_cleaned = f"{score2:.2f}"

if score2 >= 90:
    grade = "A"
elif score2 >= 75:
    grade = "B"
elif score2 >= 60:
    grade = "C"
else:
    grade = "F"

print(f"Student Name: {name_cleaned}")
print(f"Course: {course_cleaned}")
print(f"Final Score: {score_cleaned}%")
print(f"Grade: {grade}")
print("-" * 30)

# ----------- Student 3 -----------
name_cleaned = name3.strip().title()
course_cleaned = course3.title().replace("With", "with")
score_cleaned = f"{score3:.2f}"

if score3 >= 90:
    grade = "A"
elif score3 >= 75:
    grade = "B"
elif score3 >= 60:
    grade = "C"
else:
    grade = "F"

print(f"Student Name: {name_cleaned}")
print(f"Course: {course_cleaned}")
print(f"Final Score: {score_cleaned}%")
print(f"Grade: {grade}")
print("-" * 30)

Student Name: Ahmed Mohamed
Course: Data Analysis with Python
Final Score: 87.46%
Grade: B
------------------------------
Student Name: Sara Ali
Course: Python For Beginners
Final Score: 92.30%
Grade: A
------------------------------
Student Name: Mohamed Samir
Course: Data Analysis with Python
Final Score: 58.90%
Grade: F
------------------------------

In [ ]:
# LISTS
#______________________________________________________________
names = ["  ahmed mohamed", "sara ali  ", "mohamed samir"]
courses = ["data analysis with python", "python for beginners", "data analysis with python"]
scores = [87.4567, 92.3, 58.9]

for i in range(3):
  name_cleaned=names[i].title().strip()
  course_cleaned=courses[i].title().replace("With","with")
  score_cleaned = f"{scores[i]:.2f}"
  if(scores[i]>=90):
    grade="A"
  elif(89>=scores[i]>=75):
    grade="B"
  elif(74>=scores[i]>=60):
    grade="C"
  else:
    grade="F"
  print(f"Student Name: {name_cleaned}")
  print(f"Course: {course_cleaned}")
  print(f"Final Score: {score_cleaned}%")
  print(f"Grade: {grade}")
  print("-" * 30)

Student Name: Ahmed Mohamed
Course: Data Analysis with Python
Final Score: 87.46%
Grade: B
------------------------------
Student Name: Sara Ali
Course: Python For Beginners
Final Score: 92.30%
Grade: A
------------------------------
Student Name: Mohamed Samir
Course: Data Analysis with Python
Final Score: 58.90%
Grade: F
------------------------------

In [ ]:
from ast import Index
# LISTS And Some Statistcs
#______________________________________________________________
names = ["  ahmed mohamed", "sara ali  ", "mohamed samir", "laila mohamed", "omar farid"]
courses = ["data analysis with python", "python for beginners", "data analysis with python", "python for beginners", "data analysis with python"]
scores = [87.4567, 92.3, 58.9, 76.45, 61.2]
scoresfinal= scores.copy()
name_cleaned = names.copy()
vip_status = [True, False, False, True, True]

for i in range(len(names)):
  name_cleaned[i]=names[i].title().strip()
  course_cleaned=courses[i].title().replace("With","with")
  score_cleaned = f"{scores[i]:.2f}"
  if(vip_status[i]==True):
    scoresfinal[i] = scores[i] + 5
  if(scoresfinal[i]>=90):
    grade="A"
  elif(89>=scoresfinal[i]>=75):
    grade="B"
  elif(74>=scoresfinal[i]>=60):
    grade="C"
  else:
    grade="F"


  print(f"Student Name: {name_cleaned}")
  print(f"Course: {course_cleaned}")
  print(f"Final Score: {scoresfinal[i]:0.2f}%")
  print(f"Grade: {grade}")

  if grade != "F":
    print("Status : Pass")
  else :
    print("Status : : Fail")


  if (vip_status[i] == True):
    print("Vip Status : Yes")
  else :
    print("Vip Status : No")


  print("-" * 30)

  # Top Score
  for j in range(len(names)):
    top_score = max(scoresfinal)
    top_score_name = name_cleaned[scoresfinal.index(top_score)]

  #Lowest Score
  for k in range(len(names)):
    top_score = min(scoresfinal)
    min_score_name = name_cleaned[scoresfinal.index(top_score)]

  #Average Score
  Average_Score = sum(scoresfinal)/len(scoresfinal)

  #Pass / Fail Counter
  pass_counter = 0
  fail_counter = 0
  for i in range(len(names)):
    if scoresfinal[i] >= 60:
      pass_counter += 1
    else:
      fail_counter += 1
  # Rank Students

sorted_indices = sorted(range(len(scoresfinal)), key=lambda x: scoresfinal[x], reverse=True)


print(f"Top Score : {max(scoresfinal)} ({top_score_name})")

print(f"Min Score : {min(scoresfinal)} ({min_score_name})")

print(f"Average Score : {Average_Score:.2f}")

print(f"Passed Student : {pass_counter}")

print(f"Failed Student : {fail_counter}")

print("\n----- Ranking -----\n")
rank =1
for  i in sorted_indices:

  print(f"{rank}. {names[i].title().strip()} - {scoresfinal[i]:.2f}")
  rank+=1

Student Name: ['Ahmed Mohamed', 'sara ali  ', 'mohamed samir', 'laila mohamed', 'omar farid']
Course: Data Analysis with Python
Final Score: 92.46%
Grade: A
Status : Pass
Vip Status : Yes
------------------------------
Student Name: ['Ahmed Mohamed', 'Sara Ali', 'mohamed samir', 'laila mohamed', 'omar farid']
Course: Python For Beginners
Final Score: 92.30%
Grade: A
Status : Pass
Vip Status : No
------------------------------
Student Name: ['Ahmed Mohamed', 'Sara Ali', 'Mohamed Samir', 'laila mohamed', 'omar farid']
Course: Data Analysis with Python
Final Score: 58.90%
Grade: F
Status : : Fail
Vip Status : No
------------------------------
Student Name: ['Ahmed Mohamed', 'Sara Ali', 'Mohamed Samir', 'Laila Mohamed', 'omar farid']
Course: Python For Beginners
Final Score: 81.45%
Grade: B
Status : Pass
Vip Status : Yes
------------------------------
Student Name: ['Ahmed Mohamed', 'Sara Ali', 'Mohamed Samir', 'Laila Mohamed', 'Omar Farid']
Course: Data Analysis with Python
Final Score: 66.20%
Grade: C
Status : Pass
Vip Status : Yes
------------------------------
Top Score : 92.4567 (Ahmed Mohamed)
Min Score : 58.9 (Mohamed Samir)
Average Score : 78.26
Passed Student : 4
Failed Student : 1
Ranked Grades : [92.4567, 92.3, 81.45, 66.2, 58.9]

----- Ranking -----

1. Ahmed Mohamed - 92.46
2. Sara Ali - 92.30
3. Laila Mohamed - 81.45
4. Omar Farid - 66.20
5. Mohamed Samir - 58.90